*{
  font-family: Manuale;
}

.full-header{
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: block;
  margin-top: 150px;
  margin-left: 74px;
}

.upper-header{
  position: relative;
  width: 100%;
  height: 141px;
  background-color: #fff;
  display: flex;
  margin-top: -10%;
  margin-left: -5%;
}

.lower-header{
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #326346;
  margin-left: -4.9%;
  border-radius: 0  0 20px 20px;
  margin-top: -0.5%;
}

.logo-img img{
  position: absolute;
  width: 278px;
  height: 141px;
}

.nav-link-set{
  position: absolute;
  margin-left: 18%;
  margin-top: 4%;

}
.header-link-nav{
  width: 80vw;
}

.header-link-ul{
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}

.header-link-li{
  list-style: none;
  margin-right: 6%;
}

.nav-link-set .header-link-a{
  font-size: 25px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.btn-and-icons{
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 78%;
  margin-top: 3.5%;
  gap: 15%;
}

.header-web{
  width: 34px;
  height: 34px;
}

.header-account{
  width: 50px;
  height: 50px;
}

.create-post{
  width: 200px;
  height: 35px;
  background-color: #fff;
  border-style:solid;
  border-color: #326346;
  color: black;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
}

.lower-header .header-search{
  width: 391px;
  height: 48px;
  background-color: #fff;
  position: absolute;
  margin-left: 72%;
  border-radius: 20px;
  margin-top: 0.8%;
  display: flex;
  align-items: center;
}
.search-text{
  margin-left: 10%;
  color: darkgrey;
}
.search-icon img{
  width: 35px;
  height: 35px;
  margin-left: 650%;
}