/* Obituary view page navigation bar */

body{
    margin: 0;
}

.postNav{
    background: #060606;
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    align-items: stretch;
    font-size: 28px;
    font-weight: 600;
    gap: 2rem;
    box-sizing: border-box;
    padding: 0rem;
}

.postNav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.postNav a {
    color: inherit;
    text-decoration: none !important;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.postNav li.active{
    background: #F5F6F9;
    color: #326346;
}

.postNav li:hover{
    background: #F5F6F9;
    color: #326346;
}

/* Donation details */


/* share popup */

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #F5F6F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
}

.popup_inner.close_btn{
    position: absolute;
    top: 16px;
    right: 16px;
}