/* SideNav.css */
.dash-container {
   display: flex;
    flex-direction: column;
    background-color: #f3f4f4;
    transition: width 350ms ease;
    margin: 0;
}

.user-side-navbar {
    background-color: #fff;
    height: auto !important;
    width: 15vw;
    padding: 50px 30px 0 5px;
    border-radius: 0 0 15px 0;
    margin: auto 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.com-logo {
    width: 4vw;
    height: 3.5vh;
    margin-bottom: 50px;
    margin-left: 0.5px;
    margin-top: -30px;
}

.sidebar-icon {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}

.user-sidebar-ul-top, 
.user-sidebar-ul-middle {
    justify-content: center;
    display: block;
}

.user-sidebar-li {
 margin-top: 0.5rem;
 padding: 0.5rem 0.25rem;
 border-radius: 0.2rem;
 cursor: pointer;
 display: flex;
 align-items: center;
}

.user-sidebar-li a{
   text-decoration: none;
   color: inherit;
}

.user-sidebar-li:hover {
    background: #eaeced;
}

.logout-link {
    align-items: baseline;
    margin-top: 100px;
    margin-bottom: 0;
}

.user-sidebar-ul-middle {
    padding-top: 20px;
}

.nav-hr {
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

/* Dropdown menu styling */
.side-nav-drop-down {
   position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 0.2rem;
    margin-top: 50px;
    margin-left: 190px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.side-nav-drop-down a {
    display: block;
    padding: 6px;
    border-radius: .2rem;
    color: #333;
    text-decoration: none;
}

.side-nav-drop-down a:hover {
    color: #326346;
    background-color: #3263461a;
}

/* Dropdown arrow pointing right by default */
.dropdown-container::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

/* Dropdown arrow pointing down when dropdown is open */
.dropdown-container.open::after {
    transform: rotate(-90deg);
}

/* Responsive design */
@media (max-width: 768px) {
    .user-side-navbar {
        width: 100%;
        padding: 20px 10px;
    }

    .sidebar-icon {
        margin-right: 10px;
    }

    .user-sidebar-li {
        padding-bottom: 15px;
    }

    .logout-link {
        margin-top: 50px;
    }
}